body{
    margin: 0px auto;
    padding: 0px;
    background-image: url(../img/Group\ 5.png);
}
.back{
    margin-top: 50px;
}
.text{
    margin-top: 100px;
}
.text h1{
    color: white; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
}
.text p{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.knopka{
    height: 60px;
width: 540px;
border-radius: 10px;
box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    font-family: 'Poppins';
font-size: 15px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.2678571045398712px;
text-align: center;

font-family: 'Poppins';
font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.2678571045398712px;
text-align: center;

font-family: 'Poppins';
font-size: 15px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.2678571045398712px;
text-align: center;
    color: white;
    background: #5E54A4;
}

input {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 600;
    width: 85%;
    height: 48px;
    margin-top: 16px;
    padding-left: 1rem;
    border: 1px solid #dedede;
    border-radius: 3px;
  }
.box{
    padding-top: 30px;
}
.inputtt{
padding-top: 30px;
    font-family: 'Poppins';
font-size: 15px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0px;
text-align: left;

font-family: 'Poppins';
font-size: 15px;
font-weight: 600;
line-height: 26px;
letter-spacing: 1px;
text-align: left;
}
.inputtt button{
    height: 56px;
width: 545px;
left: 0px;
top: 0px;
border-radius: 5px;
    background: #77E2B3;
    color: white;
}